html{
    background-color: #1d1d1d;
    scroll-behavior: smooth;
}

body{
    min-width: 550px;
    margin-left: 100px;
    margin-right: 100px;
}

header{
    background-color: #1d1d1d;
    position: sticky;
    z-index: 1;
    top:0;
    height: 7vh;
}

header > form{
    margin: 10px;
}

#description{
    background-color: #141414;
    border-radius:10px 100px 10px 100px;
    height:86vh;
}

.descriptionText{
    opacity: 0;
    animation: fade 1s ease-in 1s forwards;
    max-width: 450px;
}

#separator1, #separator2{
    height:7vh;
}

#game{
    flex-direction: column;
    position: relative;
    padding-top:50px;
    background-color: #141414;
    border-radius:10px 100px 10px 100px;
    height: 82vh;
}

.inputBox{
    margin-left:10px;
    height: 30px;
    width: 30px;
    background-color:#1d1d1d;
    border: none;
}

.submitButton{
    margin-left: 20px;
}

.warning{
    height:21px;
}

.gameButtons{
    gap: 20px;    
    margin:20px;
}

footer{
    justify-content: space-around !important;
    background-color: #141414;
    height: 5vh;
    margin-bottom: -3vh;
}

.flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #eeeeee;
    width: 500px !important;
    height: 500px !important;
}

.gridChild{
    user-select: none;
}

.colorWheel{
    border: none;
}

.center{
    width: 50%;
    margin:auto;
}

.text{
    font-family: "Roboto Mono";
    color: #eeeeee;
}
.titleText{
    font-weight: 700;
    font-size: 56px;
    writing-mode: vertical-lr;
    padding-right: 30px;
    background: linear-gradient(to top ,#440057, #3a0ea0);
    background-clip: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button{
    cursor: pointer;
    width:5rem;
    height:2rem;
    border: none;
    border-radius: 10px;
    background-color:#440057;
    color:#eeeeee;
}

.button:hover{
    background-color:#5e1572;
}

@keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
